@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

/* Bienvenida
----------------------------------------------------------*/
.bienvenida{
    text-align: center;
    background-image: url(../../assets/img/hero.jpg);
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 

    &::before{
        content: '';
        background-color: #fdfaf630;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        
    }
    &__contenido{
        position: relative;
        padding: 15rem 0;
        @include m.tablet{
            padding: 20rem 0;
        }
        @include m.desktop{
            padding: 28rem 0;
        }
    }
    &__heading{
        text-transform: uppercase;
        line-height: 1.3;
        margin-bottom: 1rem;
        @include m.tablet{
            width: 80%;
            margin: 0 auto;
        }
        @include m.desktop{
            width: 50%;
        }
    }
    &__texto{
        font-size: 1rem;
        max-width: 50rem;
        margin: 0 auto;
        line-height: 1.8;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #595959;
        @include m.tablet{
            font-size: 1.2rem;
        }
        margin-bottom: 4rem;
    }
    &__enlace{
        @include m.boton(v.$beige, v.$blanco);
    }
}
