@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

.galeria{
    width: 90%;
    margin: 0 auto;

    &__grid{
        @include m.grid(2, .1rem);
        @include m.tablet{
            @include m.grid(4, 0);
        }
        @include m.desktop{
            @include m.grid(6, 0);
        }
    }
    &__img{
        height: 16rem;
        object-fit: cover;
        @include m.tablet{
            height: 20rem;
        }
        @include m.desktop{
            height: 28rem;
        }
    }
}