@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

.reserva{
    background-color: #5e756e;
    &__contenido{
        min-height: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__heading{
        margin: 0;
        text-align: center;
        color: v.$blanco;
        font-size: 4rem;
        @include m.tablet{
            font-size: 5rem;
        }
        @include m.desktop{
            font-size: 5.5rem;
        }
    }
    &__enlace{
        @include m.boton(v.$blanco, v.$blanco);
        color: v.$negro;
    }
}
