@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

/* Sociales
----------------------------------------------------------*/
.sociales{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1.7rem;
    &__enlace{
        &::before{
            content: '';
            padding: 1.5rem;
            display: inline-block;
        }
        
        &[href*="facebook.com"]::before{
            background-image: url(../../assets/img/icono_facebook.svg);
        }
        &[href*="twitter.com"]::before{
            background-image: url(../../assets/img/icono_twitter.svg);
        }
        &[href*="instagram.com"]::before{
            background-image: url(../../assets/img/icono_instagram.svg);
        }
        &[href*="youtube.com"]::before{
            background-image: url(../../assets/img/icono_youtube.svg);
        }
        &[href*="tiktok.com"]::before{
            background-image: url(../../assets/img/icono_tiktok.svg);
        }
    }

    &__accesible{ //ocultar un elemento sin quitarle su display 
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin: -1px;
        display: block;
    }
}